images/*.ISO
images/*.iso
images/*.img
images/*.qcow2
images/mnt
bzImages/
scripts/simple.cpio.gz
scripts/initramfs.cpio.gz
scripts/image.img
scripts/rootfs
libvirt/hostname.tmp
libvirt/focal-*.img
libvirt/jammy-*.img
*~
